<template>
    <v-container class="pt-16">
        <span class="w-100 h-100 d-flex  justify-center ">
            <div class="card-auth">
                <v-text-field class="my-3" v-model="email" :rules="[rules.required, rules.email]"
                    label="E-mail"></v-text-field>
                <v-text-field class="my-3" v-model="password" :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[rules.required, rules.min]" :type="show1 ? 'text' : 'password'" name="input-10-1"
                    label="Password" hint="At least 8 characters" counter @click:append="show1 = !show1"></v-text-field>
                <span></span>
                <v-btn @click="login" color="success" class="my-4" elevation="0">
                    login
                </v-btn>
                <v-btn to="/register" color="success" class="my-4 ml-4" elevation="0">
                    register
                </v-btn>
            </div>
        </span>
    </v-container>
</template>

<script>
import axiosInstance from '../../axios.js'
export default {
    data() {
        return {
            title: 'Preliminary report',
            email: '',
            show1: false,
            password: '',
            rules: {
                required: value => !!value || 'Required.',
                counter: value => value.length <= 20 || 'Max 20 characters',
                min: v => v.length >= 8 || 'Min 8 characters',
                email: value => {
                    const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    return pattern.test(value) || 'Invalid e-mail.'
                },
            },
        }
    },
    methods: {
        login() {
            axiosInstance.post(`login`, {
                email: this.email,
                password: this.password
            }).then((res) => {
                this.$store.commit('Login/setIsLogin', true)
                this.$store.commit('Login/setUsername', res.data.data.user.name)
                localStorage.setItem('isLogin', true)
                localStorage.setItem('username', res.data.data.user.name)
                localStorage.setItem('access_token', res.data.data.token)
                axiosInstance.defaults.headers.common['Authorization'] = `Bearer ${res.data.data.token}`;
                this.$router.push('/dashboard');
            })
        }
    }
}
</script>

<style>
.card-auth {
    width: 400px;
    padding: 20px;
    background: whitesmoke;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.026);
    border-radius: 10px;
}
</style>