<template>
  <v-app>
    <v-navigation-drawer permanent app>
      <v-list>
        <v-list-item class="px-2">
          <v-list-item-avatar>
            <v-img src=""></v-img>
          </v-list-item-avatar>
        </v-list-item>

        <v-list-item link>
          <v-list-item-content>
            <v-list-item-title class="text-h6">
              {{ username }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list nav dense>
        <v-list-item link to="/category">
          <v-list-item-icon>
            <v-icon>mdi-folder</v-icon>
          </v-list-item-icon>
          <v-list-item-title>category</v-list-item-title>
        </v-list-item>
        <v-list-item link to="/items">
          <v-list-item-icon>
            <v-icon>mdi-account-multiple</v-icon>
          </v-list-item-icon>
          <v-list-item-title>items</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main class="pa-0">
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
// import axiosInstance from '../../axios.js'

export default {
  data: () => ({
  }),
  computed: {
    username() {
      return this.$store.getters['Login/getUsername']
    }
  }
}
</script>