<template>
    <v-container>
        <v-data-table :headers="headers" :items="data" :search="search" sort-by="calories" class="elevation-1">
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title>cateogry</v-toolbar-title>
                    <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line hide-details
                        class="mx-8"></v-text-field>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn color="success" elevation="1" dark class="mb-2" v-bind="attrs" v-on="on">
                                New Item
                            </v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="text-h5">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.name" label="Name"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field type="number" max="100" v-model="editedItem.discount"
                                                label="Discount"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-select :items="data" label="Category" v-model="editedItem.parent_id"
                                                :item-text="(x) => x.name" :item-value="(x) => x.id"></v-select>
                                            <!-- <v-text-field v-model="editedItem.category" label="Category"></v-text-field> -->
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="close">
                                    Cancel
                                </v-btn>
                                <v-btn color="blue darken-1" text @click="save">
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon small class="mr-2" @click="editItem(item)">
                    mdi-pencil
                </v-icon>
                <v-icon small @click="deleteItem(item)">
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <v-btn color="primary" @click="initialize">
                    Reset
                </v-btn>
            </template>
        </v-data-table>
    </v-container>
</template>

<script>
import axiosInstance from '../../axios.js'

export default {
    data: () => ({
        itemTobeDeleted: "",
        dialog: false,
        dialogDelete: false,
        search: '',
        headers: [
            {
                text: 'Name',
                align: 'start',
                sortable: false,
                value: 'name',
            },
            { text: 'Discount', value: 'discount' },
            { text: 'inherited Discount', value: 'inherited_discount' },
            { text: 'Head Category', value: 'parent.name' },
            { text: 'Actions', value: 'actions', sortable: false },
        ],
        data: [],
        editedIndex: -1,
        editedItem: {

        },
        defaultItem: {
            name: '',
            Discount: 0,
            Category: [],
        },
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'New Item' : 'Edit Category'
        },
    },

    watch: {
        dialog(val) {
            val || this.close()
        },
        dialogDelete(val) {
            val || this.closeDelete()
        },
    },

    created() {
        this.initialize()
    },

    methods: {
        initialize() {
            axiosInstance.get(`categories/getAllCategory`).then((res) => {
                console.log('res', res);
                this.data = res.data
            })
        },

        editItem(item) {
            this.editedIndex = this.data.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialog = true
        },

        deleteItem(item) {
            this.itemTobeDeleted = item
            this.editedIndex = this.data.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialogDelete = true
        },

        deleteItemConfirm() {
            axiosInstance.delete(`categories/${this.itemTobeDeleted.id}`).then(() => {
                this.data.splice(this.editedIndex, 1)
                axiosInstance.get(`categories/getAllCategory`).then((res) => {
                    console.log('res', res);
                    this.data = res.data
                })
                this.closeDelete()
            })
        },

        close() {
            this.dialog = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        closeDelete() {
            this.dialogDelete = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        async save() {
            const index = this.editedIndex;
            if (index > -1) {
                axiosInstance.put(`categories/${this.editedItem.id}`, {
                    ...this.editedItem
                }).then((res) => {
                    axiosInstance.get(`categories/getAllCategory`).then((res) => {
                        console.log('res', res);
                        this.data = res.data
                    })
                })
            } else {
                await axiosInstance.post(`categories`, {
                    ...this.editedItem
                }).then((res) => {
                    this.data.push(res.data)
                })
            }
            this.close()
        },
    },
}
</script>