<template>
  <v-container>
    <v-treeview :items="items" @update:active="onNodeActivate"></v-treeview>
  </v-container>
</template>

<script>
import axiosInstance from '../axios.js'

export default {
  name: 'HelloWorld',

  data() {
    return {
      items: []
    };
  },

  created() {
    // Load the parent categories initially
    this.loadParentCategories();
  },

  methods: {
    loadParentCategories() {
      axiosInstance.get('categories/getCategory')
        .then((res) => {
          this.items = res.data;
        })
        .catch(error => {
          console.error('Error loading parent categories:', error);
        });
    },

    loadChildren(parentNode) {
      axiosInstance.get(`/categories/children/${parentNode.id}`)
        .then((res) => {
          this.$set(parentNode, 'children', res.data);
        })
        .catch(error => {
          console.error(`Error loading children for category ${parentNode.id}:`, error);
        });
    },

    onNodeActivate(item, open) {
      if (open && item.children && item.children.length === 0) {
        this.loadChildren(item);
      }
    }
  }
}
</script>
