<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <v-btn to="/" text>
          <span class="mr-2">Home</span>
        </v-btn>
      </div>

      <v-spacer></v-spacer>
      <v-btn text v-if="!isLogin" to="/login">
        <span class="mr-2">Login </span>
      </v-btn>
      <v-btn v-if="isLogin" text @click="logout">
        <span class="mr-2">Logout</span>
      </v-btn>
      <v-btn v-if="isLogin" text to="/dashboard">
        <span class="mr-2">Dashboard</span>
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
  computed: {
    isLogin() {
      return this.$store.getters[`Login/getIsLogin`]
    }
  },
  methods: {
    logout() {
      axiosInstance.post(`logout`, {}).then((res) => {
        localStorage.setItem('isLogin', false)
        this.$store.commit('Login/setIsLogin', false)
        this.$router.push('/')
      })

    }
  },
  created() {
    if (localStorage.getItem('isLogin') == 'false') {
      this.$store.commit('Login/setIsLogin', false)
    } else {
      this.$store.commit('Login/setIsLogin', true)
      this.$store.commit('Login/setUsername', localStorage.getItem('username'))
    }
  }
};
</script>
